.card{
    padding: 10px;
    display: block;
    border:1px solid var(--mainColor1);;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.card h1{
    color: var(--mainColor1);
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
}

.cardInfo p:nth-child(1){
    color: var(--cardInfoColor);
    font-size: 1.2rem;
    padding-right: 5px;
    font-family: 'Roboto', sans-serif;
}

.cardInfo p:nth-child(2){
  color: var(--cardInfoColor1)
}